@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  @include display(flex, column, center, center, 5px, 0);
  position: relative;
  border: 1px solid rgb(171, 170, 170);
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  .button {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: $light-coral;
    width: 30px;
    height: 30px;

    &:hover {
      background-color: $aqua-marine;
    }
  }
  .completeCheckbox {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 5px;

    input[type="checkbox"]:checked + & {
      background: $button;
      border-color: $button;
    }
  }

  .date {
    border: none;
    background-color: #f3f1f5;
    padding: 7px;
    border-radius: 7px;
  }

  .categorySquare {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 2px;
  }

  .editTask {
    width: 180px;
  }
}
