@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  @include display(flex, row, space-between, center, 10px, 0);
  @include font("Montserrat", 500, 0.8rem, none, normal, 1px, inherit);

  margin-bottom: 30px;
  width: 350px;

  .label {
    @include display(flex, column, space-between, flex-start, 10px, 0);
  }
  .image {
    border: 1px solid black;
    padding: 5px;
    border-radius: 100%;
    margin: 0;
    height: auto;
  }
  h3 {
    margin: 0;
  }
}
